---
layout: main
---

<a href="{{ page.url }}" class="block w-fit">
    <p class="bg-[#0e3d66] w-fit p-1 text-2xl font-bold mt-5 mb-1 leading-tight capitalize">{{ title }}</p>
</a>
<div class="inline text-sm italic">
	<a class="underline underline-offset-4" target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/">Open-sourcing knowledge</a>
</div>
  
{% include "nav.liquid" %}

{{ content }}
