---
layout: main
---

<a href="/">
    <p class="text-5xl font-black pt-5 leading-tight">{{ title }}</p>
    <p class="text-lg font-black pb-5 leading-tight">Open sourcing knowledge</p>
</a>
  
{% include "nav.liquid" %}

{{ content }}