---
layout: main
---

<a href="/">
    <p class="bg-[#0e3d66] w-fit p-1 text-2xl font-black mt-5 leading-tight capitalize">{{ title }}</p>
    <p class="text-sm italic font-black mt-1 pb-5 leading-tight">Open sourcing knowledge</p>
</a>
  
{% include "nav.liquid" %}

{{ content }}